:root {
    --color-dark-blue: #392758;
    --light-grey: #eeebeb;
    --bg-color-2: rgb(5, 15, 58);
    --box-shadow-2: rgba(0, 0, 0, 0.20) 0px 3px 8px;
}

.grid-6-col-auto {
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap: 2rem;
}

