.logo {
    flex-basis: 15%;
    margin-right: 8rem;
}

.thin{
    -webkit-text-stroke: 1px var(--background-color);
}

.user i{
    -webkit-text-stroke: 1px var(--font-color-dark);
}

i{
    cursor: pointer;
}

.right-nav {
    flex-grow: 1;
    align-items: center;
}

.form-search {
    border: 2px solid var(--color-dark-blue);
    border-radius: var(--size-12);
    box-shadow: var(--box-shadow-2);
}

.search input {
    border: transparent;
    outline: transparent;
}

.text-rg {
    margin: 0;
}

.search-icon {
    color: var(--accent-color);
}

header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    z-index: var(--z-1);
}

.min-img {
    min-width: 10rem;
}

.min-img-small {
    min-width: 5rem;
}

.hori-scroll {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.bars-con {
    display: none;
}

@media screen and (max-width: 1035px) {
    .bars-con {
        display: block;
    }
    .right-nav {
        display: none;
    }
}

